name: Build and push docker image

on:
  workflow_dispatch:
    inputs:
      tabby_version:
        description: "Tabby version to build"
        required: true
        type: string

env:
  RUST_TOOLCHAIN: 1.82.0

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        device-type: [cpu, rocm]
        include:
          - device-type: cpu
            image-suffix: "-cpu"
          - device-type: rocm
            image-suffix: "-rocm"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log into GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate image name
        run: |
          echo "IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY,,}${{ matrix.image-suffix }}" >> ${GITHUB_ENV}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ github.event.inputs.tabby_version }}
            type=raw,value=latest

      - name: Build and push Docker image (${{ matrix.device-type }})
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile
          push: true
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            RUST_TOOLCHAIN=${{ env.RUST_TOOLCHAIN }}
            TABBY_VERSION=${{ github.event.inputs.tabby_version }}
